<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="/dist/favicon.ico">
    <title>Avengers</title>
</head>
<body>
</body>
    <div id="avenger">
        <div>
            <%- reactOutput %>
        </div>
    </div>
    <script src="/dist/main_bundle.js"></script>
</html>